---
import PageLayout from '@/layouts/BaseLayout.astro'
import ToolSection from '@/components/ToolSection.astro'
import Button from '@/components/Button.astro'

const PRODUCTIVITY = [
	{
		name: 'Edge',
		description: 'Browser',
		href: 'https://www.microsoft.com/edge',
		iconPath: 'edge',
		iconBgColour: '#414350'
	},
	{
		name: 'Notion',
		description: 'Productivity',
		href: 'https://www.notion.so/product',
		iconPath: 'notion',
		iconBgColour: '#EFEFEE'
	}
]

const DEVELOPMENT = [
	{
		name: 'VS Code',
		description: 'IDE',
		href: 'https://code.visualstudio.com/',
		iconPath: 'vscode',
		iconBgColour: '#2C2C32'
	},
	{
		name: 'ChatGPT',
		description: 'AI',
		href: 'https://chatgpt.com/',
		iconPath: 'chatgpt',
		iconBgColour: '#06A67F'
	}
]

const PROILE = [
	{
		name: 'GitHub',
		description: 'GitHub Profile',
		href: 'https://github.com/bmcyver',
		iconPath: 'github',
		iconBgColour: '#181717'
	},
	{
		name: 'Dreamhack',
		description: 'Dreamhack Profile',
		href: 'https://dreamhack.io/users/29497',
		iconPath: 'dreamhack',
		iconBgColour: '#000000'
	}
]
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>Tools</h1>
				<p>Tools and software I use daily. And some links :D</p>
			</div>

			<ToolSection title='Productivity' tools={PRODUCTIVITY} />
			<ToolSection title='Development' tools={DEVELOPMENT} />
			<ToolSection title='Profile' tools={PROILE} />
		</div>
	</div>
</PageLayout>
