---
import SocialIcons from '@/components/SocialIcons.astro'
import { Separator } from '@/components/ui/separator'
import { SITE, SOCIAL_LINKS } from '@/consts'
---

<footer
  class="mx-auto mb-8 flex w-full max-w-3xl flex-col items-center justify-center gap-y-2 px-4 sm:mb-4 sm:flex-row sm:justify-between"
>
  <div class="flex flex-wrap items-center justify-center gap-x-2 text-center">
    <span class="text-muted-foreground text-sm">
      &copy; {new Date().getFullYear()}
      <a
        href={`https://github.com/${SITE.githubUserName}`}
        class="font-semibold hover:underline">{SITE.author}</a
      >. <a href={SITE.githubLicenseLink} class="font-semibold hover:underline">Some</a> rights reserved.
    </span>
    <Separator orientation="vertical" className="hidden h-4! sm:block" />
    <p class="text-muted-foreground text-sm">
      Built with <a
        href="https://github.com/jktrn/astro-erudite"
        class="font-semibold hover:underline">astro-erudite</a
      >
    </p>
  </div>
  <SocialIcons links={SOCIAL_LINKS} />
</footer>
